.checkout-total-container {
  border: 2px solid black;
  height: 40px;
  color: white;
  background-color: black;
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .checkout-total-container {
    width: 100%;
  }
}
